html, body {
    background-color: black;
    overflow-x: hidden;
}

h1, h2, p, ul, li {
    font-family: Helvetica, Arial, sans-serif;
    color: darkorange;
    list-style-type: none;
}

.content {
    background-color: whitesmoke;
    overflow: auto;
    padding: 10px;
    width: 100vw;
    height: 80vh;
    overflow-y: hidden;
    overflow-x: hidden;
}

.header-box {
    margin: 0;
    padding: 30px;
}

#teht-title {
    text-align: center;
}

#map {
    max-width: 45%;
    max-height: 45%;
    min-width: 45%;
    min-height: 45%;
}

#map, #tehtava-list {
    float: left;
    display: inline;
}

#maintabs.nav-pills > li {
    display: inline-block;
    float: none;
    margin-right: 10px;
}

#maintabs.nav-pills {
    padding-bottom: 5px;
    text-align: center;
}

#maintabs.nav-pills > li > a , #subtabs.nav-pills > li > a{
    background-color: darkblue;
    color: white;
    border-radius: 0;
}

#maintabs.nav-pills > li > a:active, #maintabs.nav-pills > li > a:hover, #maintabs.nav-pills > li > a:focus {
    background-color: darkblue;
    color: darkorange;
}

#subtabs.nav-pills > li > a:active, #subtabs.nav-pills > li > a:hover, #subtabs.nav-pills > li > a:focus {
    background-color: darkorange;
    color: white;
}

.pohjapiirrokset {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "a b"
                         "a b";
    height: 75vh;
}

.tehtava {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "a b d e"
                         "a c d e";
    height: 75vh;
}

.kohdetiedot {
    grid-area: e;
    display: grid;
    grid-template-rows: 33% 33% 33%;
    grid-template-areas: "a"
                         "b"
                         "c";
    background-color: white;
    height: 75vh;
}

.someuutiset, .kuvatvideot {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "a b c d"
                         "a b c d";
    height: 75vh;
}

.dokumentaatio {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "a b c"
                         "a b c";
    height: 75vh;
}

.graphicsinfo, .subcontent, .ilmakuva, .tekstit, .streetview, .lisatiedot {
    grid-area: a;
    background-color: white;
    display: inline-block;
    padding: 5px;
}

.ilmoittajatiedot, .subtabsmenu, .yhteystiedot, .kuvat, .valvontakamerat, .tilannepaivakirja, .yhteystiedot {
    grid-area: b;
    background-color: white;
    display: inline-block;
    padding: 5px;
}

.asiakkaidentiedot, .kohdekortti, .uutiset, .tieliikennekamerat, .dokukuvat {
    grid-area: c;
    background-color: white;
    display: inline-block;
    padding: 5px;
}

.rakennuksentiedot, .jaetut, .kolmiulotteinen {
    grid-area: d;
    background-color: white;
    display: inline-block;
    padding: 5px;
}

.subtablayout {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "a b"
                         "a b";
}

.subitemMenu {
    display: grid;
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-template-areas: "a"
                         "b"
                         "c"
                         "d"
                         "e";
}

.sprinklerit, .kokoontumispaikka, .pohjapiirros {
    grid-area: a;
    display: inline-block;
}

.palovaroittimet, .kartta, .turvallisuushenkilosto, .savunleviaminen {
    grid-area: b;
    display: inline-block;
}

.pelastussuunnitelma, .kemikaalikortti {
    grid-area: c;
    display: inline-block;
}

.ilmakuva, .yhteystiedot, .escape {
    grid-area: d;
    display: inline-block;
}

.luetteloaineista {
    grid-area: e;
    display: inline-block;
}

.modal {
    position: absolute;
    top: 25%;
    left: 10%;
    bottom: 10%;
    right: 15%;
    background: #fff;
    display: inline-block;
}

.back {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
}

