//TODO: PADDING ->15PX


@import url('https://fonts.googleapis.com/css?family=Encode+Sans:100,200,300,400,500,600,700,800,900');
html, body {
    background-color: #1c1c3a;
    overflow-x: hidden;
}

h1, h2, p, ul, li {
    font-family: Helvetica, Arial, sans-serif;
    font-family: 'Encode Sans';
    color: black;
    list-style-type: none;
}

h2 {
    font-size: 190%;
    font-weight: 700;
    
}


p {
    font-weight: 400;
    font-size: 120%;
}

ul, li {
    font-size: 130%;
    font-weight: 600;
    color: white;
    
}

img {
    width: 100%;
    //height: 50%;
}

.content {
    background-color: #f5f3f4;
    overflow: hidden;
    padding: 10px;
    width: 100vw;
    height: 80vh;
    overflow-x: hidden;
    margin-bottom: 10px;
}

.header-box {
    padding: 10px;
}

#teht-title {
    text-align: center;
}

#teht-title > a {
    color: white;
}

#map {
    max-width: 45%;
    max-height: 45%;
    min-width: 45%;
    min-height: 45%;
}

#map, #tehtava-list {
    float: left;
    display: inline;
}

#maintabs.nav-pills > li, #subtabs.nav-pills > li {
    display: inline-block;
    float: none;
    margin-right: 10px;
}

#maintabs.nav-pills, #subtabs.nav-pills {
    padding-bottom: 5px;
    text-align: center;
}

#maintabs.nav-pills > li > a {
    color: #d9d9dd;
    border-radius: 0;
}

#subtabs.nav-pills > li > a {
    color: #1c1c3a;
    border-radius: 0;
}

#maintabs.nav-pills > li > a:active, #maintabs.nav-pills > li > a:hover, #maintabs.nav-pills > li > a:focus {
    background-color: #1c1c3a;
    color: #d9d9dd;
    text-decoration: underline;
}

#subtabs.nav-pills > li > a:active, #subtabs.nav-pills > li > a:hover, #subtabs.nav-pills > li > a:focus {
    color: orange;
    background-color: white;
    text-decoration: underline;
}

.pohjapiirrokset {
    display: grid;
    grid-template-rows: 10% 90%;
    grid-template-areas: "b"
                         "a";
    background-color: white;
    height: 90vh;
}

.tehtava {
    display: grid;
    grid-template-columns: 20% 40% 20% 20%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "a b d f"
                         "a c d f";
    background-color: whitesmoke;
    height: 78vh;
    bottom: 50px;
}

.kohdetiedot {
    grid-area: f;
    display: grid;
    grid-template-rows: 33% 33%;
    grid-template-areas: "a"
                         "b";
    background-color: white;
    //height: 90vh;
    margin: 5px 5px 5px 10px;
    padding: 5px;
}

.someuutiset, .kuvatvideot {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "a b c d"
                         "a b c d";
    background-color: white;
    height: 90vh;
}

.dokumentaatio {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "a b c"
                         "a b c";
    background-color: white;
    height: 90vh;
}

.graphicsinfo, .subconten .kohdetiedot > .someuutiset > .tekstit, .kuvatvideot > .streetview, .dokumentaatio > .lisatiedot {
    grid-area: a;
    background-color: white;
    display: inline-block;
    padding: 5px;
    margin: 5px 0 5px 5px;
}

.ilmoittajatiedot, .subtabsmenu, .kohdetiedot > .yhteystiedot, .someuutiset > .kuvat, .kuvatvideot > .valvontakamerat, .dokumentaatio > .tilannepaivakirja {
    grid-area: b;
    background-color: white;
    display: inline-block;
    padding: 5px;
    margin: 5px 0 0 10px
}

.asiakkaidentiedot, .tehtava > .kohdekortti, .someuutiset > .uutiset, .kuvatvideot > .tieliikennekamerat, .dokumentaatio > .dokukuvat {
    grid-area: c;
    background-color: white;
    display: inline-block;
    padding: 5px;
    margin: 10px 0 5px 10px;
}

.rakennuksentiedot, .someuutiset > .jaetut, .kuvatvideot > .kolmiulotteinen {
    grid-area: d;
    background-color: white;
    display: inline-block;
    padding: 5px;
    margin: 5px 0 5px 10px;
}

.someuutiset > .jaetut {
    overflow-y: scroll;
}

.someuutiset > .tekstit, .someuutiset > .uutiset, .someuutiset > .kuvat {
    padding-right: 15px;
}

.subtablayout {
    display: grid;
    grid-template-columns: 10% 20% 50% 10%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "c a b d"
                         "c a b d";
}

.subitemMenu {
    grid-area: a;
    display: grid;
    grid-template-rows: 30% 30% 30% 30% 30%;
    grid-template-areas: "a"
                         "b"
                         "c"
                         "d"
                         "e";
    padding-right: 15px;
    height: 55vh;
}

.subitemContent {
    grid-area: b;
    display: inline-block;
    position: relative;
}

.subitemContent > img {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.7;
}

.sprinklerit, .kokoontumispaikka, .pohjapiirros {
    grid-area: a;
    display: inline-block;
}

.palovaroittimet, .kartta, .turvallisuushenkilosto, .savunleviaminen {
    grid-area: b;
    display: inline-block;
}

.pelastussuunnitelma, .kemikaalikortti, .subitemMenu > .streetview {
    grid-area: c;
    display: inline-block;
}

.yhteystiedot, .escape {
    grid-area: d;
    display: inline-block;
}

.luetteloaineista {
    grid-area: e;
    display: inline-block;
}

.infomodal {
    position: absolute;
    top: 10%;
    left: 15%;
    bottom: 10%;
    right: 15%;
    background: #fff;
    display: inline-block;
}

.back {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
}

.infomodal-grid {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "a b"
                         "a b";
}

.modalcontent {
    grid-area: b;
    display: inline-block;
    padding: 10px;
}

.modalmenu {
    grid-area: a;
    display: grid;
    grid-template-rows: 33% 33% 33%;
    grid-template-areas: "a"
                         "b"
                         "c";
    padding: 10px;
}

.modalmenu > a > .yhteystiedot {
    grid-area: a;
}

.modalmenu > a > .kohdekortti {
    grid-area: b;
}

.modalmenu > a > .ilmakuva {
    grid-area: c;
}
.some-grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "b"
                         "b";
    background-color: white;
    height: 75vh;
    padding: 5px;
}

.somecontent {
    grid-area: b;
    display: inline-block;
}

.kuvatvideot-grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "b"
                         "b";
    background-color: white;
    height: 75vh;
    padding: 5px;
}

.kuvatvideotcontent {
    grid-area: b;
}

.return-btn {
    float: right;
    border-color: black;
    border-width: 1px;
    background-color: white;
}

.share-btn {
    background-color: #1c1c3a;
    color: white;
    border: none;
}

.carousel-indicators li {
    display: none;
}

.carousel-control {
    opacity: 1;
    width: 10%;
}

#maintabs.nav-pills > li.selected > a:active, #maintabs.nav-pills > li.selected > a:focus, #maintabs.nav-pills > li.selected > a:hover {
    background-color: darkgoldenrod;
}
#subtabs.nav-pills > li.selected > a:active, #subtabs.nav-pills > li.selected > a:focus, #subtabs.nav-pills > li.selected > a:hover {
    background-color: darkgoldenrod;
}
.selected{
    background-color: darkgoldenrod;
}

/* Front page CSS */
.frontpageContent {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 70% 30%;
  grid-template-areas: "a b"
                       "c d";
  background-color: white;
}

.frontpageMissionArea {
  grid-area: a;
  padding: 5px;
  display: inline-block;
}

.frontpageMapArea {
  grid-area: b;
  padding: 5px;
  display: inline-block;
}

.userButtonArea {
  grid-area: c;
  padding: 5px;
  display: inline-block;
}

.changingcontentArea {
  grid-area: d;
  padding: 5px;
  display: inline-block;
}

.user-btn {
  background-color: darkblue;
  color: white;
  border: none;
  padding: 5px;
  margin: 10px;
  height: 50%;
  width: 30%;
}

/*Some page CSS */
.someText {
  border: solid black;
  border-width: 2px;
  margin:2%;
}

.priority {
  background-color: red;
}

.nonpriority {
  display: none;
}

.visible {
  display: inline;
}

.notVisible {
  display: none;
}

.somebtn {
  margin: 2%;
}

/*Admin page CSS*/
.admincontent {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  grid-template-areas: "a b";
  background-color: white;
}

.buttonArea {
  grid-area: a;
  padding: 5px;
  border: solid black;
  border-width: 3px;
  display: inline-block;
}

.logDisplay {
  grid-area: b;
  padding: 5px;
  border: solid black;
  border-width: 3px;
  display: inline-block;
}

.ozbuttontextarea {
  padding: 2%;
  margin: 5px;
}

.oztext {
  margin: 5px;
  display: inline-block;
}

.oz-btn {
    background-color: darkblue;
    color: white;
    width: 40%;
    border: solid blue;
    border-width: 4px;
    margin: 5px;
    float: right;
    display: inline-block;
}